name: Test
on:
  push:
    branches:
      - master
      - develop
      - beta
      - alpha
      - '[0-9]+.x'
      - '[0-9]+.[0-9]+.x'
  pull_request:

  # For systems with an upstream API that could drift unexpectedly (like most SaaS systems, etc.),
  # we recommend testing at a regular interval not necessarily tied to code changes. This will
  # ensure you are alerted to something breaking due to an API change, even if the code did not
  # change.

  schedule:
    - cron: '0 13 * * 1-5' # UTC
  workflow_dispatch:

jobs:
  zpa-qa-tenant01:
    uses: ./.github/workflows/reuse-zpa-tests.yml
    with:
      environment: ZPA_QA_TENANT01
    secrets:
      ZPA_CLIENT_ID: ${{ secrets.ZPA_CLIENT_ID }}
      ZPA_CLIENT_SECRET: ${{ secrets.ZPA_CLIENT_SECRET }}
      ZPA_CUSTOMER_ID: ${{ secrets.ZPA_CUSTOMER_ID }}
      ZPA_CLOUD: ${{ secrets.ZPA_CLOUD }}
      ZSCALER_SDK_TEST_SWEEP: ${{ secrets.ZSCALER_SDK_TEST_SWEEP }}

  zpa-qa-tenant02:
    uses: ./.github/workflows/reuse-zpa-tests.yml
    with:
      environment: ZPA_QA_TENANT02
    secrets:
      ZPA_CLIENT_ID: ${{ secrets.ZPA_CLIENT_ID }}
      ZPA_CLIENT_SECRET: ${{ secrets.ZPA_CLIENT_SECRET }}
      ZPA_CUSTOMER_ID: ${{ secrets.ZPA_CUSTOMER_ID }}
      ZPA_CLOUD: ${{ secrets.ZPA_CLOUD }}
      ZSCALER_SDK_TEST_SWEEP: ${{ secrets.ZSCALER_SDK_TEST_SWEEP }}

  # zpa-qa2-tenant01:
  #   uses: ./.github/workflows/reuse-zpa-tests.yml
  #   with:
  #     environment: ZPA_QA2_TENANT01
  #   secrets:
  #     ZPA_CLIENT_ID: ${{ secrets.ZPA_CLIENT_ID }}
  #     ZPA_CLIENT_SECRET: ${{ secrets.ZPA_CLIENT_SECRET }}
  #     ZPA_CUSTOMER_ID: ${{ secrets.ZPA_CUSTOMER_ID }}
  #     ZPA_CLOUD: ${{ secrets.ZPA_CLOUD }}
  #     ZSCALER_SDK_TEST_SWEEP: ${{ secrets.ZSCALER_SDK_TEST_SWEEP }}

  # zpa-qa2-tenant02:
  #   uses: ./.github/workflows/reuse-zpa-tests.yml
  #   with:
  #     environment: ZPA_QA2_TENANT02
  #   secrets:
  #     ZPA_CLIENT_ID: ${{ secrets.ZPA_CLIENT_ID }}
  #     ZPA_CLIENT_SECRET: ${{ secrets.ZPA_CLIENT_SECRET }}
  #     ZPA_CUSTOMER_ID: ${{ secrets.ZPA_CUSTOMER_ID }}
  #     ZPA_CLOUD: ${{ secrets.ZPA_CLOUD }}

  zpa-preview-tenant01:
    uses: ./.github/workflows/reuse-zpa-tests.yml
    with:
      environment: ZPA_PREVIEW_TENANT01
    secrets:
      ZPA_CLIENT_ID: ${{ secrets.ZPA_CLIENT_ID }}
      ZPA_CLIENT_SECRET: ${{ secrets.ZPA_CLIENT_SECRET }}
      ZPA_CUSTOMER_ID: ${{ secrets.ZPA_CUSTOMER_ID }}
      ZPA_CLOUD: ${{ secrets.ZPA_CLOUD }}
      ZSCALER_SDK_TEST_SWEEP: ${{ secrets.ZSCALER_SDK_TEST_SWEEP }}
    needs:
      - zpa-qa-tenant01
      - zpa-qa-tenant02

  zpa-beta-tenant01:
    uses: ./.github/workflows/reuse-zpa-tests.yml
    with:
      environment: ZPA_BETA_TENANT01
    secrets:
      ZPA_CLIENT_ID: ${{ secrets.ZPA_CLIENT_ID }}
      ZPA_CLIENT_SECRET: ${{ secrets.ZPA_CLIENT_SECRET }}
      ZPA_CUSTOMER_ID: ${{ secrets.ZPA_CUSTOMER_ID }}
      ZPA_CLOUD: ${{ secrets.ZPA_CLOUD }}
      ZSCALER_SDK_TEST_SWEEP: ${{ secrets.ZSCALER_SDK_TEST_SWEEP }}
    needs:
      - zpa-qa-tenant01
      - zpa-qa-tenant02
      - zpa-preview-tenant01

  zpa-prod-tenant01:
    uses: ./.github/workflows/reuse-zpa-tests.yml
    with:
      environment: ZPA_PROD_TENANT01
    secrets:
      ZPA_CLIENT_ID: ${{ secrets.ZPA_CLIENT_ID }}
      ZPA_CLIENT_SECRET: ${{ secrets.ZPA_CLIENT_SECRET }}
      ZPA_CUSTOMER_ID: ${{ secrets.ZPA_CUSTOMER_ID }}
      ZPA_CLOUD: ${{ secrets.ZPA_CLOUD }}
      ZSCALER_SDK_TEST_SWEEP: ${{ secrets.ZSCALER_SDK_TEST_SWEEP }}
    needs:
      - zpa-qa-tenant01
      - zpa-qa-tenant02
      - zpa-preview-tenant01
      - zpa-beta-tenant01

  zia-zs2-tests:
    uses: ./.github/workflows/reuse-zia-tests.yml
    with:
      environment: ZIA_ZSCALER_TWO
    secrets:
      ZIA_USERNAME: ${{ secrets.ZIA_USERNAME }}
      ZIA_PASSWORD: ${{ secrets.ZIA_PASSWORD }}
      ZIA_API_KEY: ${{ secrets.ZIA_API_KEY }}
      ZIA_CLOUD: ${{ secrets.ZIA_CLOUD }}
      ZSCALER_SDK_TEST_SWEEP: ${{ secrets.ZSCALER_SDK_TEST_SWEEP }}

  zia-zs3-tests:
    uses: ./.github/workflows/reuse-zia-tests.yml
    with:
      environment: ZIA_ZSCALER_THREE
    secrets:
      ZIA_USERNAME: ${{ secrets.ZIA_USERNAME }}
      ZIA_PASSWORD: ${{ secrets.ZIA_PASSWORD }}
      ZIA_API_KEY: ${{ secrets.ZIA_API_KEY }}
      ZIA_CLOUD: ${{ secrets.ZIA_CLOUD }}
      ZSCALER_SDK_TEST_SWEEP: ${{ secrets.ZSCALER_SDK_TEST_SWEEP }}

  zdx-tenant01:
    uses: ./.github/workflows/reuse-zdx-tests.yml
    with:
      environment: ZDX_TENANT01
    secrets:
      ZDX_API_KEY_ID: ${{ secrets.ZDX_API_KEY_ID }}
      ZDX_API_SECRET: ${{ secrets.ZDX_API_SECRET }}
