name: Test
on:
  push:
    branches:
      - master
      - develop
      - beta
      - alpha
      - '[0-9]+.x'
      - '[0-9]+.[0-9]+.x'
  pull_request:

  # For systems with an upstream API that could drift unexpectedly (like most SaaS systems, etc.),
  # we recommend testing at a regular interval not necessarily tied to code changes. This will
  # ensure you are alerted to something breaking due to an API change, even if the code did not
  # change.

  schedule:
    - cron: '0 13 * * *'

jobs:
  zpa-qa-tenant01:
    uses: ./.github/workflows/reuse-zpa-tests.yml
    with:
      environment: ZPA_QA_TENANT01
    secrets:
      ZPA_CLIENT_ID: ${{ secrets.ZPA_CLIENT_ID }}
      ZPA_CLIENT_SECRET: ${{ secrets.ZPA_CLIENT_SECRET }}
      ZPA_CUSTOMER_ID: ${{ secrets.ZPA_CUSTOMER_ID }}
      ZPA_CLOUD: ${{ secrets.ZPA_CLOUD }}

  zpa-beta-tenant01:
    uses: ./.github/workflows/reuse-zpa-tests.yml
    with:
      environment: ZPA_BETA_TENANT01
    secrets:
      ZPA_CLIENT_ID: ${{ secrets.ZPA_CLIENT_ID }}
      ZPA_CLIENT_SECRET: ${{ secrets.ZPA_CLIENT_SECRET }}
      ZPA_CUSTOMER_ID: ${{ secrets.ZPA_CUSTOMER_ID }}
      ZPA_CLOUD: ${{ secrets.ZPA_CLOUD }}
    needs: zpa-qa-tenant01

  zpa-prod-tenant01:
    uses: ./.github/workflows/reuse-zpa-tests.yml
    with:
      environment: ZPA_PROD_TENANT01
    secrets:
      ZPA_CLIENT_ID: ${{ secrets.ZPA_CLIENT_ID }}
      ZPA_CLIENT_SECRET: ${{ secrets.ZPA_CLIENT_SECRET }}
      ZPA_CUSTOMER_ID: ${{ secrets.ZPA_CUSTOMER_ID }}
      ZPA_CLOUD: ${{ secrets.ZPA_CLOUD }}
    needs: zpa-qa-tenant01

  zpa-qa-tenant02:
    uses: ./.github/workflows/reuse-zpa-tests.yml
    with:
      environment: ZPA_QA_TENANT02
    secrets:
      ZPA_CLIENT_ID: ${{ secrets.ZPA_CLIENT_ID }}
      ZPA_CLIENT_SECRET: ${{ secrets.ZPA_CLIENT_SECRET }}
      ZPA_CUSTOMER_ID: ${{ secrets.ZPA_CUSTOMER_ID }}
      ZPA_CLOUD: ${{ secrets.ZPA_CLOUD }}

  zia-tests:
    uses: ./.github/workflows/reuse-zia-tests.yml
    with:
      environment: ZIA_ZSCALER_TWO
    secrets:
      ZIA_USERNAME: ${{ secrets.ZIA_USERNAME }}
      ZIA_PASSWORD: ${{ secrets.ZIA_PASSWORD }}
      ZIA_API_KEY: ${{ secrets.ZIA_API_KEY }}
      ZIA_CLOUD: ${{ secrets.ZIA_CLOUD }}

  zdx-tenant01:
    uses: ./.github/workflows/reuse-zdx-tests.yml
    with:
      environment: ZDX_TENANT01
    secrets:
      ZDX_API_KEY_ID: ${{ secrets.ZDX_API_KEY_ID }}
      ZDX_API_SECRET: ${{ secrets.ZDX_API_SECRET }}

    # steps:
    #   - uses: actions/setup-go@v4
    #     with:
    #       go-version: ${{ matrix.go-version }}
    #   - name: Checkout code
    #     uses: actions/checkout@v3
    #   - uses: actions/cache@v3
    #     with:
    #       path: ~/go/pkg/mod
    #       key: ${{ runner.os }}-go${{ matrix.go-version }}-${{ hashFiles('**/go.mod') }}-${{ hashFiles('**/go.sum') }}
    #   - name: Set Credentials
    #     env:
    #       ZIA_USERNAME: ${{ secrets.ZIA_USERNAME }}
    #       ZIA_PASSWORD: ${{ secrets.ZIA_PASSWORD }}
    #       ZIA_API_KEY: ${{ secrets.ZIA_API_KEY }}
    #       ZIA_CLOUD: ${{ secrets.ZIA_CLOUD }}
    #       ZPA_CLIENT_ID: ${{ secrets.ZPA_CLIENT_ID }}
    #       ZPA_CLIENT_SECRET: ${{ secrets.ZPA_CLIENT_SECRET }}
    #       ZPA_CUSTOMER_ID: ${{ secrets.ZPA_CUSTOMER_ID }}
    #       ZPA_CLOUD: ${{ secrets.ZPA_CLOUD }}
    #       ZDX_API_KEY_ID: ${{ secrets.ZDX_API_KEY_ID }}
    #       ZDX_API_SECRET: ${{ secrets.ZDX_API_SECRET }}
    #     run: |
    #       go test -v ./zpa
    #       go test -v ./zia
    #       go test -v ./zdx
    #       go test -v ./zcc
    #       go test -v -cover ./tests -v -parallel 30 -timeout 120m
    #       go test -v -cover ./tests/integration/zpa -v -parallel 30 -timeout 120m
    #       go test -v -cover ./tests/integration/zia -v -parallel 30 -timeout 120m
