name: ZCON Test

on:
  pull_request:
    types: [opened, synchronize]
  merge_group:
    types: [checks_requested]
  push:
    branches:
      - master
  schedule:
    - cron: "0 11 * * 1-5" # UTC
  workflow_dispatch:

jobs:
  zcon-beta-tests:
    environment: ZCON_ZSCALER_BETA
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        goVersion: ["1.22"]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Clean existing Go modules
        run: go clean -modcache
  
      - name: Cache Go modules
        uses: actions/cache@v4
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
  
      - name: Set Go env
        run: |
          echo "GOPATH=$(go env GOPATH)" >> $GITHUB_ENV
          echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
  
      - name: Install dependencies
        run: go mod download

      - name: Run tests with retry on Ubuntu
        uses: nick-fields/retry@v2
        with:
          max_attempts: 3
          timeout_minutes: 20 # Adjust as needed
          command: |
            make test:integration:zcon
            make zconActivator
        env:
          ZCON_USERNAME: ${{ secrets.ZCON_USERNAME }}
          ZCON_PASSWORD: ${{ secrets.ZCON_PASSWORD }}
          ZCON_API_KEY: ${{ secrets.ZCON_API_KEY }}
          ZCON_CLOUD: ${{ secrets.ZCON_CLOUD }}
          ZSCALER_SDK_TEST_SWEEP: ${{ secrets.ZSCALER_SDK_TEST_SWEEP }}
          ZSCALER_SDK_CACHE_DISABLED: ${{ secrets.ZSCALER_SDK_CACHE_DISABLED }}

      - name: Publish test coverage
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.out 
          fail_ci_if_error: true

  zcon-tests-tenants:
    needs: [zcon-beta-tests]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        goVersion: ["1.22"]
        environment:
          - ZCON_ZSCLOUD
          - ZCON_ZSCALER_THREE
    environment: ${{ matrix.environment }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Clean existing Go modules
        run: go clean -modcache
  
      - name: Cache Go modules
        uses: actions/cache@v4
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
  
      - name: Set Go env
        run: |
          echo "GOPATH=$(go env GOPATH)" >> $GITHUB_ENV
          echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
  
      - name: Install dependencies
        run: go mod download

      - name: Run tests with retry on Ubuntu
        uses: nick-fields/retry@v2
        with:
          max_attempts: 3
          timeout_minutes: 20 # Adjust as needed
          command: |
            make test:integration:zcon
            make zconActivator
        env:
          ZCON_USERNAME: ${{ secrets.ZCON_USERNAME }}
          ZCON_PASSWORD: ${{ secrets.ZCON_PASSWORD }}
          ZCON_API_KEY: ${{ secrets.ZCON_API_KEY }}
          ZCON_CLOUD: ${{ secrets.ZCON_CLOUD }}
          ZSCALER_SDK_TEST_SWEEP: ${{ secrets.ZSCALER_SDK_TEST_SWEEP }}
          ZSCALER_SDK_CACHE_DISABLED: ${{ secrets.ZSCALER_SDK_CACHE_DISABLED }}
          
      - name: Publish test coverage
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.out 
          fail_ci_if_error: true

